.project_card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  background-color: #fff;
}

.projec_image {
  width: 100%;
  height: auto;
}

.project_content {
  padding: 15px;
}

.project_title {
  font-size: 1.5em;
  margin: 0 0 10px;
}

.project_description {
  font-size: 1em;
  margin: 0 0 10px;
  color: #555;
}

.tools_title {
  font-size: 1.2em;
  margin: 10px 0 5px;
}

.tools_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: "20px";
}
.icon {
  width: 50px;
  height: 50px;
}
