.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67vh;
  padding-top: 30px;
}
.aboutme {
  color: rgb(19, 3, 55);
}
img {
  max-width: calc(100% - 40px); /* Adjust width to allow space on both sides */
  max-height: 85%; /* Ensure image doesn't exceed container height */
  object-fit: contain; /* Maintain aspect ratio and center image */
  margin: 0 20px; /* Add space on the left and right */
}
